{% extends 'base.html' %}
{% block body %}
 <h1>Assignment Tracker</h1>
    {% for subject in subjects %}
    <h2>
        <form method="POST" style="display:inline;" action="/edit_subject/{{subject.id}}">
            <input type="text" name="subject_name" value="{{subject.name}}" required>
            <input type="submit" value="Update">
        </form>
        <form method="POST" action="/delete_subject/{{subject.id}}">
            <input type="submit" value="Delete" >
        </form>



    </h2>
    
    <table border = "1">
        <tr>
            <th>Assignment Name</th>
            <th>Deadline</th>
            <th>✅</th>
            <th>Delete/Edit</th>
        </tr>
        {% for assignment in subject.assignments %}
            <tr>
                <td>{{assignment.assignment}}</td>
                <td>{{assignment.deadline}}</td>
                <td>
                    <form method="POST">
                    <input type="hidden" name="assignment_id" value="{{assignment.id}}">
                    <input type="checkbox" name="done"  onchange="this.form.submit()" value="True" {% if assignment.done %}checked{% endif %}>
                    </form>
                    
                </td>
                <td>
                    <form method="GET" action="edit/{{assignment.id}}">
                        <button type="submit" >✏️</button>
                    </form>
                    <form method="POST" action="delete/{{assignment.id}}">
                        <button type="submit" >🗑️</button>
                    </form>

                    
                </td>
            </tr>

        {% endfor %}
        <tr>
            <form method="POST">
                <td>
                    <input type="text" name="assignment_name" placeholder="Add your assignment" required>
                </td>
                <td>
                    <input type="date" name="deadline" required>
                </td>
                <td>
                    <input type="checkbox" name="done" value="True">
                </td>
                <td>-</td>
            
        </tr>
        
    </table>
                <input type="submit" value="Add Assignment">
                <input type="hidden" name="subject_id" value="{{subject.id}}">
            </form>
    {% endfor %}
    <form method="POST">
    <input type="text" name="subject_name" placeholder="Add a new subject" required>
    <input type="submit" value="Add Subject">
    </form>


{% endblock %}