{% extends 'base.html' %}

{% block title %}Enroll in Subjects - StudyBox{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('enrollment.static', filename='enroll.css') }}">
{% endblock %}

{% block content %}

    <h2>Available Subjects for the {{ current_semester }}:</h2>
    {% for code in subjects %}
        <form method="POST" style="display:inline;">
            <input type="hidden" name="course_code" value="{{ code }}">
            <button type="submit">
                {{ code }} - {{ subjects_info[code]['name'] }}
                ({{ subjects_info[code]['credit_hours'] }} CH)
            </button>
        </form>
        <br>
    {% endfor %}

    <h2>Enrolled Subjects</h2>
    {% if enrollments %}
        {% for enrollment in enrollments %}
            <form action="{{ url_for('enrollment.drop_subject', user_id=user.id, course_code=enrollment.course_code) }}" method="POST" onsubmit="return confirm('Are you sure you want to drop this subject?');" style="display:inline;">
                {{ enrollment.course_code }} - {{ enrollment.subject_name() }} ({{ enrollment.credit_hours() }} CH)
                <button type="submit">Drop subject</button>
            </form>
            <br>
        {% endfor %}
    {% else %}
        <h2>No subjects enrolled yet.</h2>
    {% endif %}
        
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h2>Completed Semesters</h2>
    {% if user.previous_semesters %}
        
            {% for sem in user.previous_semesters %}
                {{ sem.name }}
                <br>
            {% endfor %}
        
    {% else %}
        <p>No completed semesters yet.</p>
    {% endif %}


    <form action="{{ url_for('enrollment.drop_semester', user_id=user.id) }}" method="POST">
        <button type="submit">Drop Current Semester</button>
    </form>
    <form action="{{ url_for('enrollment.progress', user_id=user.id) }}" method="POST" 
      onsubmit="return confirm('Are you sure you want to progress to the next semester? This will lock your current enrollments.');">
    <button type="submit">Progress to Next Semester</button>
</form>

{% endblock %}
