<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Semester</title>
    <link rel="stylesheet" href="{{ url_for('enrollment.static', filename='enroll.css') }}">
</head>
<body>
    <h1>Semester enrollment</h1>
    <h2>What semester are you currently enrolled in?</h2>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" action="{{url_for('enrollment.semesters', user_id=user.id)}}">
        {% for sem in semesters %}
            <button type="submit" name="semester" value="{{sem}}">{{sem.replace('_',' ')}}</button>
            <br>
        {% endfor %}
    </form>
</body>
</html>
