<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="{{ url_for('enrollment.static', filename='enroll.css') }}">

</head>
<body>
    <h1>Users</h1>
    {% with messages = get_flashed_messages(with_categories= True) %}  
    <!-- note: messages is a list of tuples (category, message) -->
        {% if messages %}

            {% for category, message in messages %}

                <p class = '{{category}}'>{{message}}</p>

            {% endfor %}

        {% endif%}

    {% endwith %}

    <!-- Add new user -->
    <form method="POST">
        <label for="username">Add User:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Create</button>
    </form>

    <h2>Existing Users</h2>
    <ul>
        {% for u in users %}
            <li>
                {{ u.username }}
                <!-- if user is enrolled in a semester -->
                {% if u.semester %}
                    <strong>{{ u.semester.replace('_', ' ').title() }}</strong>

                    <form action="{{ url_for('enrollment.enroll', user_id=u.id) }}" method="GET" style="display: inline;">
                        <button type="submit">Enrollment Page</button>
                    </form>

                    <form action="{{url_for('enrollment.drop_semester', user_id=u.id)}}" method="POST" style="display: inline;" onsubmit="return confirm('Are you sure you want to drop the entire semester? All subjects will be removed.');">
                        <button type="submit">Drop Semester</button>
                    </form>
                    
                <!-- if user does not have an active semester -->
                {% else %}
                    <a href="{{ url_for('enrollment.semesters', user_id=u.id) }}">[Choose Semester]</a>
                {% endif %}

            </li>
        {% else %}
            <li>No users yet. Add one above!</li>
        {% endfor %}
    </ul>
</body>
</html>
