{% extends 'base.html' %}

{% block title %}Tasks - StudyBox{% endblock %}

{% block extra_css %}

    <link rel="stylesheet" href="{{ url_for('assignments.static', filename='assignment.css') }}">
{% endblock %}

{% block content %}

 <h1>Welcome to the Assignment Tracker!</h1>
 <p>Here you can manage all your assignments for each subject so you don't lose track.<br>
    Add your assignments below:
 </p>

    {% for subject in subjects %}
    <div class="subject-card">
    <h2>
        <form method="POST" style="display:inline;" action="/assignment_tracker/edit_subject/{{subject.id}}">
            <input type="text" name="subject_name" value="{{subject.name}}" required>
            <input type="submit" value="Update">
        </form>
        <form method="POST" action="/assignment_tracker/delete_subject/{{subject.id}}" style="display:inline;">
            <input type="submit" value="Delete" >
        </form>



    </h2>
    
    <table border = "1">
        <tr>
            <th>Assignment Name</th>
            <th>Deadline</th>
            <th>✅</th>
            <th>Edit/Delete</th>
            <th>Status</th>
        </tr>
        {% for assignment in subject.assignments %}
            <tr>
                <td>{{assignment.assignment}}</td>
                <td>{{assignment.deadline}}</td>
                <td>
                    <form method="POST">
                        {% if assignment.deadline < now %}
                                -
                        {% else %}
                    <input type="hidden" name="assignment_id" value="{{assignment.id}}">
                    <input type="checkbox" name="done"  onchange="this.form.submit()" value="True" {% if assignment.done %}checked{% endif %}>
                        {% endif %}

                    </form>
                    
                </td>
                <td>
                    <form method="GET" action="/assignment_tracker/edit/{{assignment.id}}">
                        <button type="submit" >✏️</button>
                    </form>
                    <form method="POST" action="/assignment_tracker/delete/{{assignment.id}}">
                        <button type="submit" >🗑️</button>
                    </form>
                    
                </td>
                <td>
                    {% if assignment.done %}
                    <span title="done">🟢</span>
                    {% else %}
                        {% if assignment.deadline < now %}
                            <span title="overdue">🔴</span>
                        {% else %}
                            <span title="ongoing">🟡</span>
                        {% endif %}
                    {% endif %}

                </td>
            </tr>

        {% endfor %}
        <tr>
            <form method="POST">
                <td>
                    <input type="text" name="assignment_name" placeholder="Add your assignment" required>
                </td>
                <td>
                    <input type="date" name="deadline" required>
                </td>
                <td>
                    <input type="checkbox" name="done" value="True">
                </td>

                <td>-</td>
                <td>-</td>
            
        </tr>
        
    </table>
                <input type="submit" value="Add New Assignment">
                <input type="hidden" name="subject_id" value="{{subject.id}}">
            </form>
        </div>
    {% endfor %}
    <div class="add-subject">
    <form method="POST">
    <input type="text" name="subject_name" placeholder="Add a new subject" required>
    <input type="submit" value="Add Subject">
    </form>
    </div>

{% endblock %}

</html>