{% extends 'base.html' %}

{% block title %}Tasks - StudyBox{% endblock %}

{% block extra_css %}

    <link rel="stylesheet" href="{{ url_for('assignments.static', filename='assignment.css') }}">
{% endblock %}

{% block content %}

 <h1>Welcome to the Assignment Tracker!</h1>
 <p>Here you can manage all your assignments for each subject so you don't lose track.<br>
    Add your assignments below:
 </p>
    <!-- start the tables by listing all the subjects and their assignments -->
    {% for subject in subjects %}
    <div class="subject-card">
    <h2>{{ subject.subject_name() }}</h2>
    
    <table border = "1">
        <tr>
            <th>Assignment Name</th>
            <th>Deadline</th>
            <th>✅</th>
            <th>Status</th>
        </tr>
        {% for assignment in subject.assignments %}
            <tr>
                <td>{{assignment.assignment}}</td>
                <td>
                    <form method="POST" >
                        <input type="hidden" name="update_deadline" value="1">
                        <input type="hidden" name="assignment_id" value="{{assignment.id}}">
                        <input type="date" name="deadline" value="{{assignment.deadline.strftime('%Y-%m-%d') if assignment.deadline else ''}}" onchange="this.form.submit()">
                    </form>
                </td>
                <td>
                    <form method="POST">
                        <input type="hidden" name="assignment_id" value="{{assignment.id}}">
                        {% if assignment.deadline and assignment.deadline < now %}
                            <input type="checkbox" name="done" value="True" {% if assignment.done %}checked{% endif %} disabled>
                        {% else %}
                            <input type="checkbox" name="done" onchange="this.form.submit()" value="True" {% if assignment.done %}checked{% endif %}>
                        {% endif %}
                    </form>
                </td>
                <td>
                    {% if assignment.done %}
                    <span title="done">🟢</span>
                    {% else %}
                        {% if assignment.deadline and (assignment.deadline < now) %}
                            <span title="overdue">🔴</span>
                        {% else %}
                            <span title="ongoing">🟡</span>
                        {% endif %}
                    {% endif %}

                </td>
            </tr>

        {% endfor %}
    </table>
        </div>
    {% endfor %}
    <!-- <div class="add-subject">
    <form method="POST">
    <input type="text" name="subject_name" placeholder="Add a new subject" required>
    <input type="submit" value="Add Subject">
    </form>
    </div> -->

{% endblock %}

</html>