{% extends "base.html" %}

{% block title %}StudyBox Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <p class="lead">hey {{current_user.username}}, study like a pro!
            </p>
        </div>
    </div>
</div>

<section class="card-container">
    <div class="card">
        <a href="/task" class="card-link">
            <div class="card-body">
                <h5 class="card-title">Course Management</h5>
                <p class="card-text">Add courses, subjects and more</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="{{ url_for('assignments.tracker_home') }}" class="card-link">
        <div class="card-body">
            <h5 class="card-title">Track Tasks</h5>
            <p class="card-text">Track your assignments, coursework and tasks</p>
        </div>
    </a>
    </div>
    <div class="card">
        <a href="/gpa_calculator" class="card-link">
            <div class="card-body">
                <h5 class="card-title">Calculate Grades</h5>
                <p class="card-text">Calculate your GPA/CGPA</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="/task" class="card-link">
            <div class="card-body">
                <h5 class="card-title">Class Schedules</h5>
                <p class="card-text">Shows your class, time and location</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="/task" class="card-link">
            <div class="card-body">
                <h5 class="card-title">Track Attendance</h5>
                <p class="card-text">Tracks your attendance and warns if your attendance in below 80%</p>
            </div>
        </a>
    </div>
</section>
{% endblock %}