body {
    
    font-family: Arial, sans-serif;
    background-color: #1c1828;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 8px 0;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

button:hover {
    background-color: #2980b9;
}

a {
    display: inline-block;
    margin-top: 15px;
    color: #3498db;
    /* remove the underline so you can add it on hover */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
