
body {
    background-color: #1c1828;
    text-align: center;
    color: white;
}
div{
    margin:0 auto;

}
.subject-card{
    color: black;
    background-color: white;
    display: inline-block;
    margin: 10px; 
    border: 1px solid #ccc;
    border-radius: 10px;
}
input[type="text"],
input[type="number"] {
    width: 150px;      
    padding: 5px;
    border-radius: 6px;
}